
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
    <h1>Longest-word game!</h1>
    <p>Your results</p>

      <h3><%= @result[:message] %></h3>
      <p><strong>Time to answer:</strong> <%= @result[:time].to_i %> segundos</p>
      <p><strong>Score:</strong> <%= @result[:score].to_i %></p>
      <%= link_to "Try again", game_path %>
    </div>
  </div>
</div>
