
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
    <h1>Longest-word game!</h1>
    <h2>Your results</h2>

      <h3><%= @result[:message] %></h3>
      <p><%= @result[:time].to_i %> segundos</p>
      <p><%= @result[:score].to_i %></p>

    </div>
  </div>
</div>
